/*!
 * bootstrap-fileinput v4.5.3
 * http://plugins.krajee.com/file-input
 *
 * Krajee default Font Awesome 5.x theme style for bootstrap-fileinput. Load this theme file after loading
 * font awesome 5.x CSS and `fileinput.css`.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2019, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD-3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */
.theme-default .file-upload-indicator,
.theme-default .file-drag-handle,
.theme-default .default-frame .kv-file-content,
.theme-default .file-actions,
.default-frame .file-preview-other {
    text-align: center;
}

.theme-default .file-thumb-progress .progress,
.theme-default .file-thumb-progress .progress-bar {
    height: 13px;
    font-size: 11px;
    line-height: 13px;
}

.theme-default .file-upload-indicator,
.theme-default .file-drag-handle {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 3px;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.theme-default .file-thumb-progress .progress,
.theme-default .default-caption {
    display: block;
}

.theme-default .default-frame td {
    vertical-align: middle;
    text-align: left;
}

.theme-default .default-frame .kv-file-content {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.theme-default .file-actions-cell {
    position: relative;
    width: 120px;
    padding: 0;
}

.theme-default .file-thumb-progress .progress {
    margin-top: 5px;
}

.theme-default .default-caption {
    color: #777;
}

.theme-default .kvsortable-ghost {
    opacity: 0.6;
    background: #e1edf7;
    border: 2px solid #a1abff;
}

.theme-default .file-preview .table {
    margin: 0;
}

.theme-default .file-error-message ul {
    padding: 5px 0 0 20px;
}

.default-frame .file-preview-text {
    display: inline-block;
    color: #428bca;
    border: 1px solid #ddd;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    outline: none;
    padding: 8px;
    resize: none;
}

.default-frame .file-preview-html {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 8px;
    overflow: auto;
}

.default-frame .file-other-icon {
    font-size: 2.6em;
}

@media only screen and (max-width: 767px) {

    .theme-default .table,
    .theme-default .table tbody,
    .theme-default .table tr,
    .theme-default .table td {
        display: block;
        width: 100% !important;
    }

    .theme-default .table {
        border: none;
    }

    .theme-default .table tr {
        margin-top: 5px;
    }

    .theme-default .table tr:first-child {
        margin-top: 0;
    }

    .theme-default .table td {
        text-align: center;
    }

    .theme-default .table .kv-file-content {
        border-bottom: none;
        padding: 4px;
        margin: 0;
    }

    .theme-default .table .kv-file-content .file-preview-image {
        max-width: 100%;
        font-size: 20px;
    }

    .theme-default .file-details-cell {
        border-top: none;
        border-bottom: none;
        padding-top: 0;
        margin: 0;
    }

    .theme-default .file-actions-cell {
        border-top: none;
        padding-bottom: 4px;
    }

    .theme-default .default-frame .default-caption {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.theme-default .default-frame {
    display: flex !important;
}

/*noinspection CssOverwrittenProperties*/
.file-zoom-dialog .default-frame .file-other-icon {
    font-size: 22em;
    font-size: 50vmin;
}

.theme-default .file-preview-image {
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 15px;
    margin-right: 15px; */
    box-shadow: 1px 2px 5px gray;
}

.theme-default .default-frame {
    min-height: 200px;
    margin-bottom: 15px;
}

.theme-default .default-frame:nth-last-child(-n+2) {
    margin-bottom: 0 !important;
}

.theme-default .actions {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.theme-default .actions:hover {
    opacity: 1;
}

.zoom-preview{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 5px;
}